{% extends "layout.html" %}
{% from "components/card/template.html" import Card -%}

{% block article_body %}

<p>{{ intro | safe}}</p>

{# repeating card section starts #}
{% for tweet in cards.tweets %}
<div class="o-grid-row graphic">
{{ Card(tweet) }}
{% endfor %}
</div>
{# repeating card section ends #}

<p><i>Developed by <a href="https://www.ft.com/stream/authorsId/NWRlMDQ0Y2MtODA3Mi00N2VlLWEyZGItNWRmYTZhNDNiNWNi-QXV0aG9ycw==">Joanna S Kao</a>, <a href="https://www.ft.com/stream/authorsId/ZGVhNjk2NmEtN2ZkNy00NDllLTkyODAtYjE2NWNmNjg0NTcx-QXV0aG9ycw==">Claire Manibog</a> and <a href="https://www.ft.com/stream/authorsId/MGIwMmE5MDctYzliNi00YmJkLTk1NTUtZmY3OWM2YTFkNWJj-QXV0aG9ycw==">Ændrew Rininsland</a></i></p>

{% endblock %}
