{% extends "layout.html" %}
{% from "components/card/template.html" import Card -%}

{% block article_body %}

<p>{{ intro | safe}}</p>

{# repeating card section starts #}
{% for tweet in cards.tweets %}
{{ Card(tweet) }}
{% endfor %}
{# repeating card section ends #}

<p><i>Designed and developed by <a href="https://www.ft.com/stream/authorsId/NWRlMDQ0Y2MtODA3Mi00N2VlLWEyZGItNWRmYTZhNDNiNWNi-QXV0aG9ycw==">Joanna S Kao</a>, <a href="https://www.ft.com/stream/authorsId/ZGVhNjk2NmEtN2ZkNy00NDllLTkyODAtYjE2NWNmNjg0NTcx-QXV0aG9ycw==">Claire Manibog</a>, <a href="https://www.ft.com/stream/authorsId/Q0ItQ042Nzg5MA==-QXV0aG9ycw==">Caroline Nevitt</a> and <a href="https://www.ft.com/stream/authorsId/MGIwMmE5MDctYzliNi00YmJkLTk1NTUtZmY3OWM2YTFkNWJj-QXV0aG9ycw==">Aendrew Rininsland</a></i></p>

{% endblock %}
